//==============================================================================================//
// Variables

$maxWidth: 1920;
$minWidth: 320;
$maxWidthContainer: 1200;

$fontFamily: 'Inter';
$fontSize: 16px;
$fontWeight: 500;

$desktop: 1200px;
$tablet: 992px;
$mobile: 767px;
$mobileSmall: 480px;

//==============================================================================================//
// Colors

$mainColor: #000;

//==============================================================================================//
